* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

header {
    color: #FCFEFD;
    background-color: #3C3C3A;
    margin: 15px;
    border: 1px solid #3C3C3A;
}

article {
    background-color: #E0E0DE;
    padding: 20px;
    width: 70%;
    float: left;
    height: 980px;
    line-height: 1.5em;
}

nav {
    background-color: #A7A7A5;
    padding: 10px;
    width: 30%;
    float: right;
    height: 490px;
}

aside {
    background-color: #5A5A55;
    padding: 10px;
    width: 30%;
    float: right;
    height: 490px;
}

footer {
    background-color: #3C3C3A;
    color: #FCFEFD;
    padding: 10px;
    border: solid 1px #3C3C3A;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #A7A7A5;
}

li {
    display: block;
    color: #FCFEFD;
    text-decoration: none;
}

a {
    display: block;
    color: #FCFEFD;
    padding: 8px 11px;
    text-decoration: none;
}

a:hover {
    background-color: #3C3C3A;
    color: #FCFEFD;
}

a.active {
    background-color: #5A5A55;
    color: #FCFEFD;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}