/* text styles */
body {
    font-family: "Work Sans", sans-serif;
    background-color: #FCF3EA;
    line-height: 1.5;
}

h1 {
    font-family: "Manrope", sans-serif;
    font-size: 2.5rem;
    color: #5F5449;
    line-height: 1.25;
}

h2 {
    font-family: "Manrope", sans-serif;
    font-size: 1.75rem;
    color: #9B8269;
    line-height: 1.25;
}

h3 {
    font-family: "Manrope", sans-serif;
    font-size: 1.75rem;
    color: #9B8269;
    line-height: 1.25;
}

/* image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* space */
hr {
    border: none;
    height: 2.25px;
    background-color: #AFA193;
    margin: 1.5rem 0;
    padding: 0.05rem 0;
}

/* link styles */
a:link { color: #9B8269; }

a:visited {
    color: #C4A575;
    font-style: italic;
}

a:hover {
    color: #5F5449;
    text-decoration: underline;
    font-weight: 600;
}

a:active, a:focus { color: #5F5449; }

/* list styles */
ul li {
    color: #5F5449;
}

ol li {
    color: #5F5449;
}
