body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #F5F5F5;
            }
            h1 {
                color: #e8e4ec;
                background-color: #493657;
                padding: 1.5rem;
            }
            h2 {
                color: #493657;
                padding: 0.25rem;
                margin-left: 1.5rem;
            }

            h3 {
                color: #493657;
                padding: 0.25rem;
                margin-left: 1.5rem;
            }

            h4 {
                color: #493657;
                padding: 0.25rem;
                margin-left: 1.5rem;
            }
            p {
                margin: 1.5rem;
            }
            img {
                float: right;
                border: 2px #ffffff solid;
                margin: .65rem;
                max-width: 100%;
            }
            hr {
                color: #8789c0;
                background-color: #8789c0;
                height: 1.5px;
                border: none;
            }
            b {
                color: #493657;
            }